{% extends "base.njk" %}
{% set pageType = 'page' %}

{% block content %}
    {% include "partials/hero.njk" %}
    {% include "partials/page-sections.njk" %}
    {% if content %}
    <article class="o-stack u-flow">
        <div class="o-container">
            <div class="o-layout o-layout--center">
                <div class="u-col-m-8 u-col-xl-8">
                    {{ content | safe }}
                </div>
            </div>
        </div>
    </article>
    {% endif %}
{% endblock %}