{% extends "layouts/base.njk" %}
{% set pageType = 'project' %}

{% block content %}
    {% include "partials/components/hero.njk" %}
    {% include "partials/components/page-sections.njk" %}
{% endblock %}