{%- set pageTitle = title + ' - ' + site.name -%}
{%- set pageDesc = ''  -%}
{%- set siteTitle = site.name -%}
{%- set currentUrl = site.url + page.url -%}

{%- if metaTitle %}
  {% set pageTitle = metaTitle %}
{%- endif %}

{%- if metaDesc %}
  {% set pageDesc = metaDesc %}
{%- endif %}

<title>{{ pageTitle | striptags(true)}}</title>
<meta name="description" content="{{ metaDesc }}" />
{%- if metaKeywords %}
<meta name="keywords" content="{% for key in metaKeywords %}{{ key }}, {% if loop.last %}{{ key }}{% endif %}{%- endfor -%}" />
{%- endif %}

<link rel="canonical" href="{{ currentUrl }}" />
{# Social meta #}
<meta property="og:site_name" content="{{ siteTitle }}">
<meta property="og:url" content="{{ currentUrl }}">
{%- if ogType %}
<meta property="og:type" content="{{ ogType }}">
{%- endif %}
{%- if ogTitle %}
<meta property="og:title" content="{{ ogTitle }}">
{%-endif %}
{%- if ogDesc %}
<meta property="og:description" content="{{ ogDesc }}">
{%- endif %}
{%- if ogImage %}
<meta property="og:image" content="{{ ogImage }}">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
{%- endif %}

 <!-- Favicons (created with http://realfavicongenerator.net/)-->
{# <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="theme-color" content="#ffffff"> #}

{%- if site.googleAccount %}
<!-- Google Tag Manager -->
{# <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','{{ site.googleAccount }}');</script> #}
<!-- End Google Tag Manager -->


<!-- Google Tag Manager (noscript) -->
{# <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.googleAccount }}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> #}
<!-- End Google Tag Manager (noscript) -->
{%- endif %}