<header class="c-site-header">
    <div class="o-container">
        <div class="c-site-header__inner">
            {% include "partials/logo.njk" %}
            {% include "partials/navigation.njk" %}
        </div>
    </div>
</header>